<launch>
	<node pkg = "read_cam" type = "webCameraRead" name = "webCameraRead" output = "screen">
	</node>
 	<node pkg="rosserial_python" type="serial_node.py" name="serial_node">
    	<param name="port" value="/dev/ttyUSB0"/>
    	</node>
	<node pkg = "moveDetec" type = "detecColor" name = "detecFace" output = "screen">
	</node>
	<node pkg = "myFilter" type = "myFilterTest" name = "myFilter" output = "screen">
	</node>
</launch>
